@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');

:root {
  --grid-n: 1;
  --background-color: #f1f1f1;
  --square-color: #ffffff;
  --square-border-color: #dddddd;
}

body {
  box-sizing: border-box;
  font-family: 'Walter Turncoat', cursive;
  text-align: center;
  background-color: var(--background-color);
  overflow: hidden;
}

h1 {
  font-size: 40px;
}

.grid {
  width: 36rem;
  height: 36rem;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(var(--grid-n), 1fr) / repeat(var(--grid-n), 1fr);
}

.grid__square {
  width: auto;
  background-color: var(--square-color);
  border: 1px solid var(--square-border-color);
}

.grid__square:hover {
  background-color: rgb(65, 65, 65);
}

@media only screen and (max-width: 600px) {
  .grid {
    width: 95vw;
    height: 95vw;
  }

  h1 {
    font-size: 32px;
  }
}